@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-right: 75%;
}

.date-field {
	margin-right: 75em;
	margin-bottom: 10px;
}

.concepts-field {
	margin-right:70em;
	margin-bottom: 10px;
}

.journal-entry {
	margin-right:65em;
	margin-bottom: 10px;
}

.mood-selector {
	margin-right: 65em;
	margin-bottom: 20px;
}

.button-record {
	justify-content: space-around;
	/* margin-left: 35%; */
	margin-right: 75%;
}